<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <ul
      class="navbar navbar-nav d-grid gap-2 d-md-flex justify-content-md-start"
    >
      <li>
        <button type="button" class="btn btn-outline-info" (click)="onGetAll()">
          All
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-outline-info"
          (click)="onGetSelected()"
        >
          Selected
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-outline-info"
          (click)="onGetAvailable()"
        >
          Available
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-outline-info" (click)="onAddNew()">
          Add New
        </button>
      </li>
    </ul>

    <form class="d-flex" #f="ngForm" (ngSubmit)="onSearch(f.value)">
      <input
        ngModel
        name="keyword"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-info" type="submit">Search</button>
    </form>
  </div>
</nav>

<ng-container
  *ngIf="productsData$ | async as result"
  [ngSwitch]="result.dataState"
>
  <ng-container *ngSwitchCase="DataState.LOADING">
    Loading ...................
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR">
    <div class="alert alert-danger" role="alert">
      {{ result.errorMessage }}
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED">
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Selected</th>
            <th scope="col">Available</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of result.data">
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.selected }}</td>
            <td>{{ p.available }}</td>
            <td>
              <button
                class="btn btn-sm"
                (click)="onSelect(p)"
                [ngClass]="p.selected ? 'btn-success' : 'btn-danger'"
              >
                <span *ngIf="p.selected">Unselect</span>
                <span *ngIf="!p.selected">Select</span>
              </button>
            </td>
            <td>
              <button class="btn btn-success" (click)="onUpdate(p)">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="onDelete(p)">
                <i class="bi bi-trash3"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</ng-container>
